@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 88px;
    background-color: #f58e9c;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.logo {
    margin-right: auto;
    max-height: 30px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links a {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #eb314a;
    text-decoration: none;
}

.nav-links li {
    padding: 0px 20px;
}

header .bar {
    display: none;
}

@media only screen and (max-width: 750px) {
    header a.link {
        display: none;
    }

    header a.bar {
        display: block;
        color: #eb314a;
    }
}

@media only screen and (max-width: 750px) {
    header {
        padding: 6px 15px;
    }

    .logo {
        max-height: 20px;
    }

    .nav-links a {
        font-size: 12px;
    }

    header.responsive {position: fixed;}

    header.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    header.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
}